#header4-2 H1 {
  color: #eb6b56;
  font-size: 72px;
}
#header4-2 P {
  color: #eb6b56;
  font-size: 32px;
  text-align: center;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 19px;
}
#form2-12 .mbr-header__text {
  font-size: 20px;
}
#msg-box5-11 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-11 .mbr-article {
  color: #ffffff;
}
#msg-box4-12 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-12 .mbr-article {
  color: #ffffff;
}
#msg-box5-13 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-14 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-14 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-14 .mbr-article {
  color: #ffffff;
}
#msg-box5-18 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-18 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-18 .mbr-article {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 19px;
}
#msg-box1-33 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-33 .mbr-article {
  color: #fff;
}
#content1-37 P {
  text-align: left;
}
#content1-37 UL {
  text-align: left;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 19px;
}
#msg-box1-24 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-24 .mbr-article {
  color: #fff;
}
#slider-32 H1 {
  color: #eb6b56;
  text-align: left;
}
#slider-32 P {
  color: #000000;
  text-align: left;
}
